# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gitignore
/ios/.gitignore
/macos/.gitignore
/windows/.gitignore
/android/app/src/debug/AndroidManifest.xml
/android/app/src/main/AndroidManifest.xml
/android/app/src/profile/AndroidManifest.xml
/windows/runner/resources/app_icon.ico
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/ios/Runner/AppDelegate.swift
/macos/Runner/AppDelegate.swift
/ios/Flutter/AppFrameworkInfo.plist
/macos/Runner/Configs/AppInfo.xcconfig
/linux/flutter/ephemeral/.plugin_symlinks/audioplayers_linux/
/android/app/build.gradle
/android/build.gradle
/windows/flutter/CMakeLists.txt
/windows/runner/CMakeLists.txt
/windows/CMakeLists.txt
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/contents.xcworkspacedata
/macos/Runner.xcworkspace/contents.xcworkspacedata
/lib/widgets/cover_art_texture.dart
/lib/cover_extract.dart
/lib/services/cover_extractor.dart
/lib/models/cover_model.dart
/ios/Flutter/Debug.xcconfig
/macos/Runner/Configs/Debug.xcconfig
/macos/Runner/DebugProfile.entitlements
/web/favicon.png
/lib/pages/favorite_page.dart
/linux/flutter/ephemeral/.plugin_symlinks/file_picker/
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift
/android/gradle.properties
/android/gradle/wrapper/gradle-wrapper.properties
/lib/pages/home_screen.dart
/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/web/icons/Icon-192.png
/web/icons/Icon-512.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/web/icons/Icon-maskable-192.png
/web/icons/Icon-maskable-512.png
/lib/services/id3_parser.dart
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/web/index.html
/ios/Runner/Info.plist
/macos/Runner/Info.plist
/android/app/src/main/res/drawable/launch_background.xml
/android/app/src/main/res/drawable-v21/launch_background.xml
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/ios/Runner/Base.lproj/LaunchScreen.storyboard
/windows/runner/main.cpp
/ios/Runner/Base.lproj/Main.storyboard
/android/app/src/main/kotlin/com/example/untitled/MainActivity.kt
/macos/Runner/MainFlutterWindow.swift
/macos/Runner/Base.lproj/MainMenu.xib
/web/manifest.json
/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux/
/ios/Runner.xcodeproj/project.pbxproj
/macos/Runner.xcodeproj/project.pbxproj
/macos/Runner/Release.entitlements
/ios/Flutter/Release.xcconfig
/macos/Runner/Configs/Release.xcconfig
/windows/runner/resource.h
/windows/runner/runner.exe.manifest
/windows/runner/Runner.rc
/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/ios/Runner/Runner-Bridging-Header.h
/ios/RunnerTests/RunnerTests.swift
/macos/RunnerTests/RunnerTests.swift
/android/settings.gradle
/linux/flutter/ephemeral/.plugin_symlinks/shared_preferences_linux/
/android/app/src/main/res/values/styles.xml
/android/app/src/main/res/values-night/styles.xml
/windows/runner/utils.cpp
/windows/runner/utils.h
/macos/Runner/Configs/Warnings.xcconfig
/test/widget_test.dart
/windows/runner/win32_window.cpp
/windows/runner/win32_window.h
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/linux/flutter/ephemeral/.plugin_symlinks/audioplayers_linux/
/linux/flutter/ephemeral/.plugin_symlinks/file_picker/
/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux/
/linux/flutter/ephemeral/.plugin_symlinks/shared_preferences_linux/
/linux/flutter/ephemeral/.plugin_symlinks/audioplayers_linux/
